:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fff; /* để giống ảnh bạn muốn */
}

/* optional: reset button nhẹ nhàng, đừng override quá mạnh */
button {
  font: inherit;
}
